@import '../../sass/main.scss';

.task-list-item {
  padding: 1.5rem;
  border-bottom: 1px solid $color-grey;
  background-color: $color-white;
  display: flex;
  align-items: center;

  .completed {
    text-decoration: line-through;
  }

  .icon {
    margin-right: 1rem;
    cursor: pointer;
    font-size: 3.2rem;

    &.small {
      font-size: 2.5rem;
    }
  }

  .description,
  .category-name {
    display: block;
  }

  .description {
    font-size: 2rem;
  }

  .category-name {
    font-size: 1.25rem;
  }
}
