@import '../../sass/main';

.sider {
  border-right: 1px solid $color-grey;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 4rem;
  // width: 450px;
  // position: fixed;
  // left: 0;
  background-color: white !important;

  .calendar-container {
    margin-top: auto;
    padding-bottom: 1rem;
    width: 100%;
    border-top: 1px solid $color-grey;
  }
}
