@import '../../sass/main';

.container {
  background-image: url('/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header {
    color: $color-white;
    font-size: 2.5rem;

    @include for-size('tablet-landscape-up') {
      font-size: 3.2rem;
    }

    @include for-size('desktop-up') {
      font-size: 5rem;
    }
  }
}

.auth {
  background-color: $color-white;
  border-radius: 1.5rem;
  width: 80%;
  // height: 55%;
  padding: 2rem;

  @include for-size('tablet-portrait-up') {
    width: 45%;
    // height: 65%;
    padding: 2.5rem;
  }

  @include for-size('tablet-landscape-up') {
    // width: 55%;
    // height: 55%;
    padding: 3rem;
  }

  @include for-size('desktop-up') {
    width: 40%;
    // height: 50%;
    padding: 3.25rem;
  }

  form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  ::placeholder {
    color: $color-grey;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: $color-grey;
  }

  ::-ms-input-placeholder {
    color: $color-grey;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @include for-size('desktop-up') {
      margin-bottom: 1.8rem;
    }
  }

  .error {
    // margin-top: 0.5rem;
    color: red;
    font-size: 1rem;

    @include for-size('tablet-portrait-up') {
      font-size: 0.75rem;
      margin-top: 0.3rem;
    }

    @include for-size('tablet-landscape-up') {
      font-size: 1rem;
    }

    @include for-size('desktop-up') {
      font-size: 1.3rem;
    }
  }

  input {
    background-color: $color-white;
    border: 0.2rem solid $color-grey;
    border-radius: 0.5rem;
    padding: 0.25rem;
    outline: none;

    @include for-size('tablet-portrait-up') {
      font-size: 1rem;
      padding: 0.4rem;
    }

    @include for-size('tablet-landscape-up') {
      font-size: 1.2rem;
      padding: 0.5rem;
    }

    @include for-size('desktop-up') {
      border-radius: 1rem;
      padding: 0.75rem;
      font-size: 1.6rem;
    }
  }

  button {
    border: none;
    padding: 0.5rem;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 0.25rem;
    margin-top: 1rem;
    outline: none;
    cursor: pointer;

    @include for-size('tablet-portrait-up') {
      font-size: 1.2rem;
      padding: 0.4rem;
    }

    @include for-size('tablet-landscape-up') {
      font-size: 1.4rem;
      padding: 0.5rem;
    }

    @include for-size('desktop-up') {
      font-size: 2rem;
      border-radius: 1rem;
      margin-top: 1.5rem;
      padding: 1rem;
    }
  }
}

.link {
  margin-top: 1.5rem;
  width: 80%;
  color: $color-white;
  text-align: right;

  a {
    color: inherit;
    font-weight: 500;
    text-decoration: underline;
  }

  @include for-size('tablet-portrait-up') {
    width: 45%;
  }

  @include for-size('desktop-up') {
    font-size: 2rem;
    width: 40%;
  }
}
