@import '../../sass/main';

.layout {
  height: 100vh;

  // @media screen and (min-width: 768px) {
  //   margin-left: 400px;
  // }

  .header {
    padding-left: 1rem;
    font-size: 1.8rem;
    background-image: url('/background.jpg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.content {
  overflow: scroll;
  // height: 500px;
}
